<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type=" text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>

<body>

    <div class="alert alert-success" role="alert">
        Your nearest bus stop is {{ results[0]['Description'] }} ({{ results[0]['BusStopCode'] }}) at
        {{results[0]['RoadName']}}
    </div>

    <div class="row d-flex justify-content-center" style="margin: 5px;">
        <div class="col-sm">
            <div id="map" style="width: 100%; height: 250px;"></div>

        </div>
        <div class="col-sm">
            <div id="pano" style="width: 100%; height: 250px;"></div>

        </div>

    </div>


    <table class='table' style="margin-top: 10px;" data-toggle="table" data-pagination='true' data-search='true'>
        <p id="mapInfo" style="text-align: center;"><i>Currently displaying: {{ results[0]['Description'] }}</i></p>
        <thead>
            <tr>
                <th data-sortable="true"> Bus Stop Code </th>
                <th data-sortable="true"> Description </th>
                <th data-sortable="true"> Road Name </th>
                <th data-sortable="true"> Distance Away (km) </th>
                <th> Map </th>
            </tr>
        </thead>
        <tbody>
            {% for i in results %}
            <tr>
                <td> {{ i['BusStopCode']}} </td>
                <td> {{ i['Description']}} </td>
                <td> {{ i['RoadName']}} </td>
                <td> {{ i['Distance']|float|round(2, 'floor')}} </td>
                <td>
                    <i class="bi-map-fill"
                        onclick="setMap( '{{ i['Description'] }}' ,{{ i['Latitude'] }},{{ i['Longitude']}} )"
                        style="cursor: pointer;"></i></button>
                </td>

            </tr>
            {% endfor %}


        </tbody>
    </table>

    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script>
        var longitudet = {{ results[0]['Longitude'] }};
        var latitudet = {{ results[0]['Latitude'] }};
        var map;
        var panorama;

        function initMap() {

            const fenway = { lat: latitudet, lng: longitudet };


            map = new google.maps.Map(document.getElementById("map"), {
                center: fenway,
                zoom: 17,
            });
            panorama = new google.maps.StreetViewPanorama(
                document.getElementById("pano"),
                {
                    position: fenway,
                    pov: {
                        heading: 34,
                        pitch: 10,
                    },
                }
            );
            map.setStreetView(panorama);
        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD-JGnC7ClCJ_3z65gZOZpo153oG7w8_U&callback=initMap&libraries=&v=weekly"
        async>

        </script>

    <script>
        function setMap(desc, lat, lng) {

            const mapInfo = document.querySelector('#mapInfo');

            let coordinates = { lat: lat, lng: lng };
            map.setCenter(coordinates);
            panorama.setPosition(coordinates);
            mapInfo.innerHTML = '<i>Currently displaying: ' + desc + '</i>';
        };
    </script>

</body>

</html>